.doctor-details-wrapper {

  h3 {
    font-weight: bold;
    font-size: 2em;
  }

  .doctors {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    min-width: fit-content;

    .doctor {
      padding: 2em;
      width: 100%;
      display: grid;
      grid-template-areas:
        'doctor-image name . .'
        'doctor-image tab-group-wrapper  . schedule-appointment'
        'doctor-image tab-group-wrapper . schedule-appointment';
      gap: 2em;
      background-color: #f5f5f5;

      .doctor-image {
        grid-area: doctor-image;
        width: 40vh;
      }

      .tab-group-wrapper {
        grid-area: tab-group-wrapper;

      }

      .tab-group {
        width: max-content;
      }

      .tab-content {
        padding-top: 2em;
        grid-area: tab-content;
        min-height: 300px;
        display: flex;
        flex-grow: 1;
        min-width: 40vw;
        width: 0;
      }

      .name {
        grid-area: name;
      }

      .schedule-appointment {
        grid-area: schedule-appointment;
        min-width: fit-content;

      }
    }
  }
}
